.jumbotron {
  background-color: #f4a442;
  color: #fff;
}
.jumbotron button {
  margin-left: 10px;
}

.well {
  background-color: #E2EFDE;
  color: black;
  margin: 15px;
  padding: 10px;
}

.container :hover {
  background-color: #AFD0BF;
  text-decoration: none;
}
